*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
   background-image: url("../assets/images/_21_dark-website-background_dark-black-website-background-E-Marketeers.jpg");
  
    font: medium lightsalmon ;
}
header {
    color: lightsalmon ;
    flex-wrap: wrap;
    text-align: left;
    

}
header h1 {
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

header ul li a {
color: lightsalmon;
list-style: none;
padding: 5px 5px 5px 5px;
font-size: 40px;
font-family: Brush Script MT;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    list-style: none;
  
  }
  
  .work {
      margin: 50px 50px;
      justify-content: center;
      width: 100;
    border-bottom: lightsalmon solid;

      box-sizing: border-box;

  }
  .works {
    padding: 20px ;
    color: lightsalmon ;
    font-weight: bolder;
    font-family: monospace;
    display: inline-block;
    border: 5px inset;

    
  
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  .project {
    

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  border-bottom: darkblue;

  }
  h2 {
    color: beige;
    letter-spacing: .2cm;
    font-size: 36px;
    width: 100%;
    margin: 100px;
    border-bottom: lightsalmon solid;
   font-family: Brush Script MT;
    flex-wrap: wrap;
    
   
    
   
   
  }
  

  .work1 {
    font-family: monospace;
    font-size: 20px;
      border: 5px inset ;
      padding: 60px ;
      background-image: url("../assets/images/hero-bg .jpg");
      
      background-size: cover;
  }
      .work2 {
        padding: 20px ;
        color: lightsalmon ;
        font-weight: bolder;
        font-family: monospace;
        display: inline-block;
        border: 5px inset;
        
  }
  .work-hold {
    padding: 20px ;
        color: lightsalmon ;
        font-weight: bolder;
        font-family: monospace;
        display: inline-block;
        border: 5px inset;


  }
  .hero-img { 
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
}
  
  .photo {
    background-image: url('../assets/images/vitaly-bulgarov-gladiatorrobot-09.jpeg');
    background-size: 300px;
    
    background-position: center;
    border-radius: 10%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 90%;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
    
  }
  .photo1 {
    background-image: url('../assets/images/Screenshot.jpg');
    background-size: 300px;
    
    background-position: center;
    border-radius: 10%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 90%;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
    
}

.photo:hover {
    background-size: 500px;
}
.photo1:hover {
   background-size: 500px;
}
  
.aboutme {
 color: lightsalmon; 
padding: 80px 40px;
font-family: brush Script MT;
font-size: 30px;
align-items: center;
display: block;
margin: 50px;
}
.aboutme h2 {
  border-bottom: lightsalmon solid;
  font-size: 32px;
  }
.aboutme img {
    
}
footer {
  
}